*{
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing:border-box;
}
.frame{
    width: 100%;
    height: 9vh;
    /* background-color: rgba(178, 178, 178, 0.524); */
    background-color: rgb(135, 180, 56);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame>h1{
margin: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.content{
    background-color: rgb(252, 241, 229);
    height: 91vh;
    text-align: center;
}
.round{
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    margin-right:14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    /* height: 5vh; */
width: 75%;

}
select{
    width: 10vw;
    color:rgb(78, 123, 0);
    font-weight: 300;
    font-size: 16px;
    border:1px solid rgb(78, 123, 0);
    margin-right:14px;
    margin-top: 2vh;
    padding: 5px 2px;
}
.chart{
    width: 65vw;
    height: 75vh;
margin: auto;
padding-top: 3vh;
}

@media screen and (max-width:1300px) {
    select{
        width: 20vw;
        margin-top: 4vh;
    }
    .chart{
        width: 85vw;
        height: 75vh;
        padding-top: 5vh;
    }
}